.Overlay_wrapper {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    .Overlay_prev, .Overlay_next, .Overlay_close {
        position: absolute;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 32px;
        cursor: pointer;
        -webkit-text-stroke: 1px #000;
    }

    .Overlay_prev {
        left: 24px;
        top: 50%;
        translate: 0 -50%;
    }

    .Overlay_next {
        right: 24px;
        top: 50%;
        translate: 0 -50%;
    }

    .Overlay_close {
        top: 24px;
        right: 24px;
    }
}